.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 1.5rem 3rem; */
  position: sticky;
  top: 0;
  background-color: #121212;
  z-index: 1000;
  height:2rem;
  padding-top: 6px;
  margin-bottom: 10px;
}
.lefts{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap:1rem;
}
.left{
  cursor: pointer;
}
h1{
  cursor: pointer;
  text-decoration: none;
  color:white;
}
@media (max-width: 768px) {
  .header {
    margin-top: 20px;
  }

  h1 {
    font-size: 0.875rem; /* Smaller font size for smaller screens */
  }
  .left{
    font-size: 0.875rem;
  }
  
}
